h1{font-family: Arial, Helvetica, sans-serif;}
.btn-primary {
    background-color: #3355ff;
    border: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .btn-primary:hover {
    background-color: #e64a19;
    transform: scale(1.05);
  }
  
  /* Cards con sombra y bordes redondeados */
  .card {
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  /* Cambios en pantallas pequeñas */
  @media (max-width: 576px) {
    body {
      background-color: #f5f5f5;
    }
  
    h1 {
      color: #ff5733;
    }
  }